<div id="hiddenContentFrame" class="about">
<div class="shrinker">

<div id="aboutPageMenu" class="sectionMenu">
  <button id="usageGuide_button" class="sectionButton three"><div class="sectionMenuItem">
    Usage Guide
  </div></button><button id="aboutRedPandas_button" class="sectionButton three"><div class="sectionMenuItem">
    About Red Pandas
  </div></button><button id="aboutThisSite_button" class="sectionButton three"><div class="sectionMenuItem">
    About This Site
  </div></button>
</div>

<div class="hidden section" id="usageGuide">
<div class="pandaAbout">
<h2>レッサーパンダファインダーの使い方(PC版)</h2>
<ul>
<li>レッサーパンダファインダーでは、日本語と英語で検索することが出来ます。</li>  
<li>日本語で検索したい場合は"US English"をクリックすれば”JP 日本語”に切り替えが出来ます。”</li>    
<li>どのパンダが出るかはお楽しみ！にしたい場合は 🎲 (ランダム) アイコンをクリックします。</li>
<li>パンダの名前が分かる場合は白いサーチバー <i>Search</i> をクリックして名前を入力します。白いサーチバーをクリックして <i>Search</i> パンダの名前を入力して <i>Enter</i>キーを押します。</li>
<li>パンダが表示されたら、横にある家族の名前をクリックするとそのパンダの情報が見られます。</li>
<li>パンダの写真の左上の角をクリックすると、そのパンダの他の写真を見ることが出来ます。</li>
<li>サーチバーで動物園名から検索することも出来ます。動物園名検索では、現在その園で飼育されている全てのパンダが表示されます。</li>
</ul>
<h2>レッサーパンダファインダーの使い方 (モバイル版)</h2>
<ul>
<li>レッサーパンダファインダーでは、日本語と英語で検索することが出来ます。</li>  
<li>日本語で検索したい場合はEnglishのアイコンをタッチすれば日本語に切り替えが出来ます。”</li>
<li>どのパンダが出るかはお楽しみ！にしたい場合は 🎲 (ランダム) アイコンをタッチします。</li>
<li>パンダの名前が分かる場合は白いサーチバー <i>Search</i> をタッチして名前を入力します。白いサーチバーをタッチして <i>Search</i> パンダの名前を入力し、キーボード画面にある検索 <i>Enter</i>をタッチします。</li>
<li>パンダが表示されたら、下にある家族の名前をタッチするとそのパンダの情報が見られます。</li>
<li>パンダの写真をスワイプ(右でも左でもOK)すると、そのパンダの他の写真を見ることが出来ます。</li>
<li>サーチバーで動物園名から検索することも出来ます。動物園名検索では、現在その園で飼育されている全てのパンダが表示されます。</li>
</ul>
</div><!-- pandaAbout -->
</div><!-- usageGuide -->

<div class="hidden section" id="aboutRedPandas">
<div class="pandaAbout">
<h2>なぜレッサーパンダ?</h2>
<h4><a href="https://www.instagram.com/firefoxpanda88/">✍️ firefoxpanda88</a></h4>

<p>レッサーパンダの魅力・・・それはなんといっても姿かたち、そして仕草が愛らしいことだと思います。
私は地球上で最も美しい生き物だとすら思っています。
でも、一言で「愛らしい、美しい」といってしまうには、あまりにも物足りない気がしてしまいます。
なぜならば、すべてのレッサーパンダに個性があり、それぞれに魅力的だからです。
野性味あふれる孤高な雰囲気のコ、甘えん坊なコ、イタズラ好きなコ・・・とても書ききれないほど、本当に様々ですよね。</p>

<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/JXffNYvofFw" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>

<p>さて、ここで、私がレッサーパンダ追いとなったきっかけの一つを紹介しましょう。
初めて足を運ぶ動物園で初めて出会ったレッサーパンダなのに
「どうしても初めて会った気がしない」
という不思議な出来事がありました。
レッサーパンダファンの方ならもうお分かりだと思いますが・・・
ほかに特徴のよく似たコを知っていたのです。
帰って調べてみると、そのコたちは姉妹だったんです！
そこからは動物園に直接通わずともネットの画像などで似ているコを見つけては調べ・・・を繰り返し、気が付けば家系を追うようになっていました。
そうこうするうちに、会いたいコがどんどん増えてきて、いろんな動物園に通うようになりました。（まだまだとても通いきれていませんが）</p>

<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/Mnfw3xe6c6Y" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>

<p>こちらの　RED PANDA FINDER では、両親や兄弟などのリンクもあるので、それをたどってまずはお気に入りのコの家族、そしてそのまた家族・・・と思いをはせてみるのはいかがでしょうか？</p>

<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/Qw6rtOPdBBw" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>

</div><!-- pandaAbout -->
</div><!-- aboutRedPandas -->

<div class="hidden section" id="aboutThisSite">
<div class="pandaAbout">
<h2>About This Site (TBD: Japanese)</h2>
<p>On the surface, redpandafinder dot com (localized domains coming soon) is for people who love red pandas and enjoy visiting them at zoos. It's designed to be a quick reference, a family tree with photos, and a way to share pandas you love with your friends.</p>
<p>Like a zoo itself, this site hopes that being closer to the animals will change people's hearts. We encourage everyone visiting this site to donate to <a href="https://redpandanetwork.org">Red Panda Network</a>, who does crucial conservation efforts for wild red pandas in Nepal and Bhutan.</p>
<p>Eventualy, this site also wants to support red pandas in cooperation with specific zoos. When you see your favorite red pandas on Instagram every day, you want to give them the best lives they can have.</p>
<h2>Red Panda Lineage Data</h2>
<p>The Red Panda Lineage dataset searchable on this site is sourced from red panda fans in Japan and worldwide, and is supplemented and checked against studbook information compiled by Angela Glatston at Rotterdam Zoo in The Netherlands. The dataset is stored on <a href="https://github.com/wwoast/redpanda-lineage">GitHub</a> and is updated several times a week.</p>
<h2>Contributions</h2>
<p>If you'd like to submit new data or fixes to existing Red Panda Lineage data, we really appreciate the help! Just fill out one of the forms below:</p>
<ul>
<li><a href="https://docs.google.com/forms/d/1kKBv92o09wFIBFcvooYLm2cG8XksGcVQQSiu9SpHGf0">Lineage Request</a></li>
</ul>
<p>If you have a technical software-development background, you are also more than welcome to directly contribute to the dataset! We'll review any PRs or issues submitted through <a href="https://github.com/wwoast/redpanda-lineage">GitHub</a>.</p>
</div><!-- pandaAbout -->
</div><!-- aboutThisSite -->

</div><!-- shrinker -->
</div><!-- contentFrame -->
