<div id="hiddenContentFrame" class="about">
<div class="shrinker">

<div id="aboutPageMenu" class="sectionMenu">
  <button id="usageGuide_button" class="sectionButton three"><div class="sectionMenuItem">
    使い方
  </div></button><button id="aboutRedPandas_button" class="sectionButton three"><div class="sectionMenuItem">
    レッサーパンダについて
  </div></button><button id="aboutThisSite_button" class="sectionButton three"><div class="sectionMenuItem">
    このサイトについて
  </div></button>
</div>

<div class="hidden section" id="usageGuide">
<div class="pandaAbout onlyDesktop">
<h2>レッサーパンダファインダーの使い方(PC版)</h2>
<ul>
<li>レッサーパンダファインダーでは、日本語と英語で検索することが出来ます。</li>  
<li>日本語で検索したい場合は"US English"をクリックすれば”JP 日本語”に切り替えが出来ます。”</li>    
<li>どのパンダが出るかはお楽しみ！にしたい場合は 🎲 (ランダム) アイコンをクリックします。</li>
<li>パンダの名前が分かる場合は白いサーチバー <i>Search</i> をクリックして名前を入力します。白いサーチバーをクリックして <i>Search</i> パンダの名前を入力して <i>Enter</i>キーを押します。</li>
<li>パンダが表示されたら、横にある家族の名前をクリックするとそのパンダの情報が見られます。</li>
<li>パンダの写真の左上の角をクリックすると、そのパンダの他の写真を見ることが出来ます。</li>
</ul>
</div><!-- pandaAbout -->
<div class="pandaAbout onlyMobile">
<h2>レッサーパンダファインダーの使い方 (モバイル版)</h2>
<ul>
<li>レッサーパンダファインダーでは、日本語と英語で検索することが出来ます。</li>  
<li>日本語で検索したい場合はEnglishのアイコンをタッチすれば日本語に切り替えが出来ます。”</li>
<li>どのパンダが出るかはお楽しみ！にしたい場合は 🎲 (ランダム) アイコンをタッチします。</li>
<li>パンダの名前が分かる場合は白いサーチバー <i>Search</i> をタッチして名前を入力します。白いサーチバーをタッチして <i>Search</i> パンダの名前を入力し、キーボード画面にある検索 <i>Enter</i>をタッチします。</li>
<li>パンダが表示されたら、下にある家族の名前をタッチするとそのパンダの情報が見られます。</li>
<li>パンダの写真をスワイプ(右でも左でもOK)すると、そのパンダの他の写真を見ることが出来ます。</li>
</ul>
</div><!-- pandaAbout -->
<div class="pandaAbout">
<h2>検索のヒント</h2>
<ul>
<li>サーチバーで動物園名から検索することも出来ます。動物園名検索では、現在その園で飼育されている全てのパンダが表示されます。</li>
<li>写真を説明的なタグで検索することも、下のリストのタグをクリックして検索することもできます。</li>
</ul>
</div><!-- pandaAbout -->  
<div class="pandaAbout aboutTags">
</div><!-- pandaAbout, with tags filled in -->
</div><!-- usageGuide -->

<div class="hidden section" id="aboutRedPandas">
<div class="pandaAbout">
<h2>なぜレッサーパンダ?</h2>
<h4><a href="https://www.instagram.com/firefoxpanda88/">✍️ firefoxpanda88</a></h4>

<p>レッサーパンダの魅力・・・それはなんといっても姿かたち、そして仕草が愛らしいことだと思います。
私は地球上で最も美しい生き物だとすら思っています。
でも、一言で「愛らしい、美しい」といってしまうには、あまりにも物足りない気がしてしまいます。
なぜならば、すべてのレッサーパンダに個性があり、それぞれに魅力的だからです。
野性味あふれる孤高な雰囲気のコ、甘えん坊なコ、イタズラ好きなコ・・・とても書ききれないほど、本当に様々ですよね。</p>

<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/JXffNYvofFw" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>

<p>さて、ここで、私がレッサーパンダ追いとなったきっかけの一つを紹介しましょう。
初めて足を運ぶ動物園で初めて出会ったレッサーパンダなのに
「どうしても初めて会った気がしない」
という不思議な出来事がありました。
レッサーパンダファンの方ならもうお分かりだと思いますが・・・
ほかに特徴のよく似たコを知っていたのです。
帰って調べてみると、そのコたちは姉妹だったんです！
そこからは動物園に直接通わずともネットの画像などで似ているコを見つけては調べ・・・を繰り返し、気が付けば家系を追うようになっていました。
そうこうするうちに、会いたいコがどんどん増えてきて、いろんな動物園に通うようになりました。（まだまだとても通いきれていませんが）</p>

<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/Mnfw3xe6c6Y" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>

<p>こちらの　RED PANDA FINDER では、両親や兄弟などのリンクもあるので、それをたどってまずはお気に入りのコの家族、そしてそのまた家族・・・と思いをはせてみるのはいかがでしょうか？</p>

<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/Qw6rtOPdBBw" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>

</div><!-- pandaAbout -->
</div><!-- aboutRedPandas -->

<div class="hidden section" id="aboutThisSite">
<div class="pandaAbout">
<h2>はじめに</h2>

<p>レッサーパンダファインダードットコムは、レッサーパンダを愛し、レッサーパンダに会いに動物園通いを楽しむ人たちのためのサイトです。
レッサーパンダの写真やその家族を手軽に調べることが出来るので、好きなレッサーパンダの情報をお友だちとシェアしていただくのにとても便利です。</p>

<p>こちらのサイトで動物を身近に感じていただくことで(まるで動物園にいるときのように！)、動物や自然環境により一層の理解を深めていただけたら・・・と願っています。
私たちはRed Panda Network に寄付をする全てのユーザを応援します。
Red Panda Network はネパール、ブータン等で野生のレッサーパンダのために重要な保護活動を行っている団体です。</p>

<p>また、将来的には動物園とも共同してレッサーパンダのサポートをしていきたいと考えています。
SNS等で大好きなレッサーパンダを見ているとき、ユーザの皆さんも彼らを出来得る限り幸せにしてあげたいと思われるのではないでしょうか。</p>

<img class="aboutFocus" src="https://www.instagram.com/p/BZlXepKFkIE/media/?size=l" alt="ルル王女" />
<h5 class="caption">ルル王女 💓 <a href="https://www.instagram.com/falcon_tenor">(📷&nbsp;takashi_8310iyo)</a></h5>

<h2>レッサーパンダのデータについて</h2>

<p>こちらのサイトでデータは日本そして世界中のレッサーパンダファンからの情報提供されたものがベースとなっています。
提供されたデータにつきましてはその他の情報ソース、ニュースリリースなどの最新情報との照合も継続的に行っております。
収集したデータは <a href="https://github.com/wwoast/redpanda-lineage" target="_blank">Github</a> に保管され、週に数回更新しています。</p>

<h2>ご協力のお願い</h2>

<p>レッサーパンダファインダーに未掲載の情報や誤り等をお知らせいただける方がいらっしゃいましたら、ご協力いただけますと大変光栄です。
以下のフォームよりご入力をお願いできれば幸いです。<a href="https://docs.google.com/forms/d/1wEhwNieyonPNSk6q8fflUT3e4kyAsIlAFmeib1tW4Jk" target="_blank">Lineage Request</a></p>

<p>また、ソフトウェアの開発環境等をお持ちの場合は、直接 <a href=" https://github.com/wwoast/redpanda-lineage" target="_blank">Github</a> へのご連絡も大歓迎です！
お寄せいただいたご意見は、すべて参考にさせていただきます。</p>
</div><!-- pandaAbout -->
</div><!-- aboutThisSite -->

</div><!-- shrinker -->
</div><!-- contentFrame -->
