<div id="hiddenContentFrame" class="links">
<div class="shrinker">

<div id="linksPageMenu" class="sectionMenu">
  <button id="redPandaCommunity_button" class="sectionButton four"><div class="sectionMenuItem">
    共同体
  </div></button><button id="zooLinks_button" class="sectionButton four"><div class="sectionMenuItem">
    動物園
  </div></button><button id="instagramLinks_button" class="sectionButton four"><div class="sectionMenuItem">
    インスタグラム
  </div></button><button id="specialThanksLinks_button" class="sectionButton four"><div class="sectionMenuItem">
    感佩
  </div></button>
</div>

<div class="hidden section" id="redPandaCommunity">
<div class="pandaLinks">
<h2>レッサーパンダの共同体</h2>
<ul class="linkList heart">
<li><a href="https://www.redpandanetwork.org">Red Panda Network</a></li>
<li><a href="https://redpandazine.com">Red Pandazine</a></li>
</ul>
</div><!-- pandaLinks -->
</div><!-- redPandaCommunity -->

<div class="hidden section" id="zooLinks">
<div class="pandaLinks">
<h2>レッサーパンダの動物園</h2>

<ul class="linkList panda">
<li><a href="http://www.chausuyama.com/">茶臼山動物園</a></li>
<li><a href="http://www.city.ichikawa.lg.jp/zoo/index.html">市川市動植物園</a></li>
<li><a href="https://www.city.sabae.fukui.jp/nishiyama_zoo/">鯖江市西山動物園</a></li>
<li><a href="http://www.tokyo-zoo.net/zoo/tama/">多摩動物公園</a></li>
<li><a href="http://www.nhdzoo.jp/">静岡市立日本平動物園</a></li>
<li><a href="http://tohoku-safaripark.co.jp/">東北サファリパーク</a></li>
<li><a href="https://www.city.chiba.jp/zoo/">千葉市動物公園</a></li>
<li><a href="http://www.city.sapporo.jp/zoo/index.html">札幌市円山動物園</a></li>
</ul>
</div><!-- pandaLinks -->
</div><!-- zooLinks -->

<div class="hidden section" id="instagramLinks">
<div class="pandaLinks">        
<h2>Instagram レッサーパンダ</h2>

<ul class="linkList multiColumn bamboo">
<!-- Populate this automatically in the future -->
<li><a href="https://www.instagram.com/animal_lifenyc/">animal_lifenyc</a></li>
<li><a href="https://www.instagram.com/bubbles_octi/">bubbles_octi</a></li>
<li><a href="https://www.instagram.com/cabbage_biyori/">cabbage_biyori</a></li>
<li><a href="https://www.instagram.com/carsontheredpanda/">carsontheredpanda</a></li>
<li><a href="https://www.instagram.com/cattail.sapporo/">cattail.sapporo</a></li>
<li><a href="https://www.instagram.com/craig_craig_craig/">craig_craig_craig</a></li>
<li><a href="https://www.instagram.com/daniele.tokyo/">daniele.tokyo</a></li>
<li><a href="https://www.instagram.com/fetorus_mami/">fetorus_mami</a></li>
<li><a href="https://www.instagram.com/firefoxpanda88/">firefoxpanda88</a></li>
<li><a href="https://www.instagram.com/framereim/">framereim</a></li>
<li><a href="https://www.instagram.com/gloryeui/">gloryeui</a></li>
<li><a href="https://www.instagram.com/hanamaru_redpanda/">hanamaru_redpanda</a></li>
<li><a href="https://www.instagram.com/ichiken67/">ichiken67</a></li>
<li><a href="https://www.instagram.com/ifumoto88/">ifumoto88</a></li>
<li><a href="https://www.instagram.com/kinkinkin0826/">kinkinkin0826</a></li>
<li><a href="https://www.instagram.com/kipekaila/">kipekaila</a></li>
<li><a href="https://www.instagram.com/kotata_513/">kotata_513</a></li>
<li><a href="https://www.instagram.com/l_ma_photos/">l_ma_photos</a></li>
<li><a href="https://www.instagram.com/love__mitarashi/">love__mitarashi</a></li>
<li><a href="https://www.instagram.com/lsdar13/">lsdar13</a></li>
<li><a href="https://www.instagram.com/makimaru18/">makimaru18</a></li>
<li><a href="https://www.instagram.com/masumilky/">masumilky</a></li>
<li><a href="https://www.instagram.com/miis_98/">miis_98</a></li>
<li><a href="https://www.instagram.com/minatomirai215/">minatomirai215</a></li>
<li><a href="https://www.instagram.com/minato.yokohama2130/">minato.yokohama2130</a></li>
<li><a href="https://www.instagram.com/mofu_pan/">mofu_pan</a></li>
<li><a href="https://www.instagram.com/monmon_redpanda/">monmon_redpanda</a></li>
<li><a href="https://www.instagram.com/na.mo.pan/">na.mo.pan</a></li>
<li><a href="https://www.instagram.com/panda.daisuki/">panda.daisuki</a></li>
<li><a href="https://www.instagram.com/perie1027vivi/">perie1027vivi</a></li>
<li><a href="https://www.instagram.com/redpan22/">redpan22</a></li>
<li><a href="https://www.instagram.com/redpanda_nippon_takashi/">redpanda_nippon_takashi</a></li>
<li><a href="https://www.instagram.com/re_ichimaru/">re_ichimaru</a></li>
<li><a href="https://www.instagram.com/resapanlove/">resapanlove</a></li>
<li><a href="https://www.instagram.com/_rifa_p/">_rifa_p</a></li>
<li><a href="https://www.instagram.com/simasima_sippo/">simasima_sippo</a></li>
<li><a href="https://www.instagram.com/simasima_sippo/">small_tiger55</a></li>
<li><a href="https://www.instagram.com/tabechum/">tabechum</a></li>
<li><a href="https://www.instagram.com/taka__3428/">taka__3428</a></li>
<li><a href="https://www.instagram.com/totolove0724/">totolove0724</a></li>
<li><a href="https://www.instagram.com/worldthathesees/">worldthathesees</a></li>
<li><a href="https://www.instagram.com/yakko____/">yakko____</a></li>
<li><a href="https://www.instagram.com/yossi929/">yossi929</a></li>
<li><a href="https://www.instagram.com/yuka0714_0307/">yuka0714_0307</a></li>
</ul>
</div><!-- pandaLinks -->
</div><!-- instagramLinks -->

<div class="hidden section" id="specialThanksLinks">
<div class="pandaLinks">     
<h2>感佩</h2>
<ul class="linkList heart">
<li><a href="https://www.instagram.com/daniele.tokyo/">daniele.tokyo</a></li>
<li><a href="https://www.instagram.com/firefoxpanda88/">firefoxpanda88</a></li>
<li><a href="https://www.instagram.com/cattail.sapporo/">cattail.sapporo</a></li>
<li><a href="http://blog.livedoor.jp/miyanomayu3/archives/cat_57622.html">miyanomayu</a></li>
<li>レッサーパンダのオタク: <u>本当に、ありがとうございました</u> 😊</li>
</ul>
</div><!-- pandaLinks -->
</div><!-- specialThanksLinks -->

</div><!-- shrinker -->     
</div><!-- contentFrame -->
