<div id="hiddenContentFrame" class="links">
<div class="shrinker">
<div class="pandaLinks">
<h2>Red Panda Community</h2>
<ul class="linkList heart">
<li><a href="https://www.redpandanetwork.org">Red Panda Network</a></li>
<li><a href="https://redpandazine.com">Red Pandazine</a></li>
</ul>

<h2>Zoos Focused on Red Pandas</h2>
<p>There are many zoos represented in this dataset, but some of them are hotspots for seeing Red Pandas.</p>

<ul class="linkList panda">
<li><a href="http://www.chausuyama.com/">Chausuyama Zoo</a></li>
<li><a href="http://www.city.ichikawa.lg.jp/zoo/index.html">Ichikawa Zoo</a></li>
<li><a href="https://www.city.sabae.fukui.jp/nishiyama_zoo/">Nishiyama Zoo</a></li>
<li><a href="http://www.tokyo-zoo.net/zoo/tama/">Tama Zoo</a></li>
<li><a href="http://www.nhdzoo.jp/">Nihondaira Zoo</a></li>
<li><a href="http://tohoku-safaripark.co.jp/">Tohoku Safari Park</a></li>
<li><a href="https://www.city.chiba.jp/zoo/">Chiba Zoological Park</a></li>
</ul>

<h2>Red Pandas on Instagram</h2>
<p>Without this list of dedicated Instagram red panda fans and their collected lineage data, this site would not exist.</p>

<ul class="linkList multiColumn bamboo">
<!-- Populate this automatically in the future -->
<li><a href="https://www.instagram.com/miis_98/">miis_98</a></li>
<li><a href="https://www.instagram.com/yuka0714_0307/">yuka_0714_0307</a></li>
<li><a href="https://www.instagram.com/fetorus_mami/">fetorus_mami</a></li>
<li><a href="https://www.instagram.com/hanamaru_redpanda/">hanamaru_redpanda</a></li>
<li><a href="https://www.instagram.com/_rifa_p/">_rifa_p</a></li>
<li><a href="https://www.instagram.com/lsdar13/">lsdar13</a></li>
<li><a href="https://www.instagram.com/love__mitarashi/">love__mitarashi</a></li>
<li><a href="https://www.instagram.com/minatomirai215/">minatomirai215</a></li>
<li><a href="https://www.instagram.com/kotata_513/">kotata_513</a></li>
<li><a href="https://www.instagram.com/yossi929/">yossi929</a></li>
<li><a href="https://www.instagram.com/craig_craig_craig/">craig_craig_craig</a></li>
<li><a href="https://www.instagram.com/panda.daisuki/">panda.daisuki</a></li>
<li><a href="https://www.instagram.com/masumilky/">masumilky</a></li>
<li><a href="https://www.instagram.com/tabechum/">tabechum</a></li>
<li><a href="https://www.instagram.com/daniele.tokyo/">daniele.tokyo</a></li>
<li><a href="https://www.instagram.com/framereim/">framereim</a></li>
</ul>

</div><!-- pandaLinks -->
</div><!-- shrinker -->     
</div><!-- contentFrame -->
