html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overflow-x: hidden;
    line-height: 1.4;
    font-size: 14pt;
    font-family: "Jun 201", sans-serif;
    background: #366938;
}

div.topMenu {
    display: table;
    text-align: center;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #366938;
    font-family: "Jun 201", sans-serif;
    width: 100%;
    vertical-align: middle;
}

@keyframes activate {
    from { background-color: #366938; }
    to { background-color: #699C6A; }
}

button.logo {
    display: inline-block;
    border: none;
    color: white;
    line-height: 1.4;
    font-size: 14pt;
    font-family: "Jun 201", sans-serif;
    background-color: #366938;
    height: 64px;
    float: left;
}

button.menu {
    display: inline-block;
    border: none;
    color: white;
    line-height: 1.4;
    font-size: 14pt;
    font-family: "Jun 201", sans-serif;
    background-color: #366938;
    height: 64px;
    width: 142px;  /* Fixed width keeps them looking consistent across languages */
}

button.menu:hover, button.logo:hover {
    animation: activate;
    animation-duration: 0.3s;
    background-color: #699C6A;
}

button.menu:active, button.logo:active {
    animation: activate;
    animation-duration: 0.6s;
    animation-direction: alternate;
}

button.menu div.buttonContent, button.logo div.buttonContent {
    display: table;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

button.menu div.icon, button.logo div.icon {
    display: table-cell;
    font-size: 24pt;
    padding-right: 8px;
    text-align: left;
}

button.menu div.text, button.logo div.text {
    display: table-cell;
    padding-right: 8px;
    text-align: left;
}

div.topSearch {
    display: table;
    text-align: center;
    vertical-align: middle;
    height: 64px;
    background-color: white;
    font-family: "Jun 201", sans-serif;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-top: 2px solid yellowgreen;
}

div.shrinker {
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
}

form {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

input.search {
    font-family: sans-serif;
    border-radius: 0;  /* Disable rounding on iOS */
}

input[type='text'] {
    font-family: sans-serif;
}

input.search[disabled] {
    background-color: white;
    color: white;
}

input.search[disabled]::placeholder {
    background-color: white;
    color: lightgray;
}

input.search {
    font-size: 38pt;
    width: 100%;
    border: 0px solid;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

input#searchSubmit {
    display: none;
}

input.search::placeholder {
    color: #E4A880; /* The light green, but with RR and GG byte switched */
}

img.fullFrame {
    height: calc(100% - 130px);
    width: 100%;
    object-fit: cover; /* Images on the initial page maintain aspect ratio w/o scaling */
    opacity: 0.4;
    background: linear-gradient(to right, #A8E480, #366938, #A8E480); /* Granny Smith Apples! */
}

div#contentFrame {
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    background: linear-gradient(to right, #A8E480, #366938, #A8E480); /* Granny Smith Apples! */
}

div#hiddenContentFrame {
    display: none;
    z-index: -1;
    background: linear-gradient(to right, #A8E480, #366938, #A8E480); /* Granny Smith Apples! */
}

div.pandaResult, div.zooResult {
    display: table;
    clear: both;
    margin-top: 1ex;
    margin-bottom: 1ex;
    border: 1px solid #033605; /* Bamboo Green */
}

div.pandaTitle a, div.pandaDossier a, div.pandaFamily a, div.zooDossier a {
    text-decoration: none !important;
    color: black;
}

p.furigana {
    display: inline;
    font-size: 80%;
    margin-left: 1ex;
}

div.emptyResult {
    display: table;
    position: relative;
    clear: both;
    height: 65vh;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1ex;
    margin-bottom: 1ex;
    border: 1px solid #033605; /* Bamboo Green */
    vertical-align: middle;
}

div.emptyResult img {
    height: 65vh;
    max-width: 100%;
    max-height: 600px;
}

div.emptyResult div.overlay {
    position: absolute;
    font-size: 22pt;
    color: white;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div.pandaPhoto, div.zooPhoto {
    display: table-cell;
    vertical-align: middle;
    background-color: black;
}

div.pandaPhoto img, div.zooPhoto img {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
}

div.pandaDossier, div.zooDossier {
    display: table-cell;
    vertical-align: top;
    background-color: #EDC1D7; /* Pink Lady Apples */
    border-left: 1px solid #033605; /* Bamboo Green */
}

div.pandaTitle, div.zooTitle {
    display: block;
    text-align: left;
    min-width: 300px;
    min-height: 32pt;
    background-color: yellowgreen;
    padding-left: 18px;
}

div.pandaName, div.zooName, div.gender {
    display: inline-block;
    font-size: 22pt;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    vertical-align: middle;
}

div.gender {
    margin-right: 0.5ex;
}

div.gender.center {
    margin-left: 0.5ex;
    margin-right: 0.5ex;
}

div.gender img {
    height: 18pt;
}

div.pandaDetails, div.zooDetails {
    display: block;
    min-width: 300px;
    background-color: #9771A7; /* Grapes */
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
}

div.pandaDetails p, div.zooDetails p {
    display: inline-block;
    margin-left: 18px;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    padding-top: 0ex;
    padding-bottom: 0ex;
}

h3, h4 {
    display: inline-block;
    margin-left: 18px;
    margin-top: 1ex;
    margin-bottom: 0ex;
    padding: 0 0 0 0;
    text-decoration: underline;
}

h3.jp, h4.jp {
    /* Family headers kanji w/underlines doesn't look right */
    text-decoration: none;
    font-weight: normal;
    border-bottom: 2px solid black;
}

div.family {
    display: block;
    min-width: 300px;
    background-color: #EDC1D7; /* Pink Lady Apples */
}

div.parents, div.litter, div.siblings, div.children, div.names {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 170px;
    padding-right: 18px;
}

ul.pandaList, ul.linkList {
    text-align: left;
    list-style: none;
    padding-left: 18px;
    margin-top: 0.5ex;
}

ul.pandaList li, ul.linkList li {
    padding-top: 0.25ex;
    padding-bottom: 0.5ex;
}

ul.pandaList li a.passedAway {
    color: gray;
}

div.footer {
    display: table;
    width: 100%;
    text-align: left;
    font-size: 10pt;
    background-color: #366938;
    color: white;
    bottom: 0px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
}

div.footer p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin-left: 14px;
    margin-right: 8px;
}

div.footer a {
    color: white;
}

a.emojiLink {
    text-decoration: none !important;   /* iPhone seems to require the !important */
}

div.vitamins {
    /* A slug of characters to make webfonts load all necessary glyphs.
       Otherwise Typesquare, the Morisawa foundry service, won't properly load
       all the glyphs one of the search result pages might need. */
    display: none;
}

div.detailsPhoto {
    display: block;
    text-align: center;
    background-color: black;
    border-top: 1px solid #033605; /* Bamboo Green */
    border-left: 1px solid #033605; /* Bamboo Green */
    border-right: 1px solid #033605; /* Bamboo Green */
}

div.pandaAbout, div.pandaLinks {
    color: white;
    margin-left: 14px;
    margin-right: 8px;
}

div.pandaLinks ul.bamboo li:before {
    content: "🎍";
    margin-right: 8px;
}

div.pandaLinks ul.heart li:before {
    content: "❤️";
    margin-right: 8px;
}

div.pandaLinks ul.panda li:before {
    content: "🐼";
    margin-right: 8px;
}

div.pandaAbout h5.caption > a, div.pandaLinks > ul > li > a {
    color: white;
    text-decoration: none !important;
}

div.photoSample h5.caption > a {
    color: black;
    text-decoration: none !important;
}

h5.caption {
    text-align: center;
    margin-top: 0.7ex;
    margin-bottom: 1ex;
    margin-left: 8px;
    margin-right: 8px;
}

div.detailsNameTitle {
    display: block;
    text-align: center;
    background-color: #ED6167;
    border-bottom: 1px solid #033605; /* Bamboo Green */
}

div.detailsName {
    display: block;
    text-align: center;
    background-color: #EDC1D7;
    border-left: 1px solid #033605; /* Bamboo Green */
    border-right: 1px solid #033605; /* Bamboo Green */
    border-top: 1px solid #033605; /* Bamboo Green */
}

div.detailsPhoto img {
    height: 80vh;
}

div.detailsLocationTitle {
    display: block;
    text-align: center;
    /* background-color: #755085; /* Dark Grapes */
    background-color: yellowgreen;
    border-bottom: 1px solid #033605; /* Bamboo Green */
}

div.detailsLocation {
    display: block;
    text-align: center;
    min-width: 300px;
    background-color: #9771A7; /* Grapes */
    margin-bottom: 1ex;
    border: 1px solid #033605; /* Bamboo Green */
}

span.detail {
    display: block;
    font-size: 10pt;
}

div.detailsVideo {
    background-color: #366938; /* Match the menu background */
    border: 1px solid #033605; /* Bamboo Green */
}

div.detailsFamilyTitle {
    display: block;
    text-align: center;
    background-color: #C28660; /* Goldenrod */
    border-bottom: 1px solid #033605; /* Bamboo Green */
}

div.detailsFamily {
    display: block;
    text-align: center;
    background-color: #E4A880; /* Sunflower */
    border: 1px solid #033605; /* Bamboo Green */
    margin-top: 1ex;
    margin-bottom: 1ex;
}

div#contentFrame.about, div#contentFrame.links {
    background: linear-gradient(#366938, #002200); /* Light to dark, top to bottom */
}

div#contentFrame.about div.shrinker, div#contentFrame.links div.shrinker {
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
}

h2 {
    display: inline-block;
    margin-left: 0px;
    margin-top: 1ex;
    margin-bottom: 0ex;
}

/* Making youtube center and scale with the viewport requires hacks */
div.youtube {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 0;
    padding-top: 25px;
    padding-bottom: 53%;
}

div.youtube iframe {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

img.aboutFocus {
    display: inline;
    width: 100%;
    text-align: center;
}

img.twinFocus {
    display: inline;
    width: 49%;
    text-align: center;
}

ul.linkList.multiColumn {
    column-count: 2;
}

div.creditSummary {
    text-align: center;
}

div.creditSummary p {
    display: inline-block;
    background-color: #9771A7;
    border: 1px solid #002200;
    padding: 1ex;
    margin: 1ex;
}

div.photoSample {
    display: inline-block;
    width: 160px;
    margin-bottom: 10px;
    padding: 5px;
}

div.photoSample > img {
    border: 1px solid #002200;
    width: 100%;
}

div.photoSample h5 {
    background-color: yellowgreen;
    border: 1px solid #002200;
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/* Portrait mode, default for iPhones and for frames that are in a 
   similar layout / resolution. Shorten the padding details, and turn
   the two-column results layout into a single-column layout. */
@media screen and (max-width: 670px) {
    button.logo {
        display: none;
    }
    
    button.menu {
        width: 80px;
        height: auto;
    }

    button.menu div.icon {
        display: table-row;
        font-size: 24pt;
        padding: 0 0 0 0;
        text-align: center;
    }

    button.menu div.text {
        display: table-row;
        font-size: 10pt;
        padding: 0 0 0 0;
        text-align: center;
        word-break: keep-all;  /* Fix iPhone text overflow for "Random" jp */
    }

    div#contentFrame {
        padding-top: 0.1ex;
        padding-bottom: 0.1ex;
    }

    div.pandaAbout, div.pandaLinks {
        position: relative;
        max-width: 100%;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
    }

    input.search {
        padding-left: 4px;
        padding-bottom: 0vh;
        margin: 0 0 0 0;
    }

    div.pandaResult, div.zooResult {
        background-color: lightgoldenrodyellow;
        padding-bottom: 0ex;
        margin-top: 0.7ex;
        margin-bottom: 0.7ex;
        border: 0px solid;
    }

    div.emptyResult {
        display: none;
    }

    div.pandaPhoto, div.zooPhoto, div.detailsPhoto {
        display: block;
        text-align: center;
        padding-bottom: 0ex;
    }

    div.pandaPhoto img, div.zooPhoto img {
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    div.pandaTitle, div.zooTitle {
        text-align: center;
        padding: 0 0 0 0;
    }

    div.gender {
	    margin-left: 0.5ex;
    }

    div.pandaName {
        margin-right: 0.5ex;
    }

    div.zooName {
        margin-left: 0.5ex;
        margin-right: 0.5ex;
    }

    div.pandaDossier, div.zooDossier {
        display: block;
        border: 0px solid;
    }

    /* Masonry tricks: do vertical layout of ULs when
       in mobile mode. */
    div.family {
        column-count: 2;
    }

    /* Masonry layout tricks: the column width must be 100%.
       Zero the padding so it's not bigger than 100% */
    div.parents, div.litter, div.siblings, div.children, div.names {
        width: 100%;
        max-width: 148px;
        padding-right: 6px;
        text-align: left;
    } 

    div.pandaDetails p, div.zooDetails p {
        margin-left: 14px;
    }

    h2 {
        margin-left: 14px;
        margin-right: 8px;
    }

    h3, h4 {
        margin-left: 14px;
    }

    ul.pandaList, ul.linkList {
        list-style: none;
        text-align: left;
        padding-left: 14px;
    }

    div.footer {
        text-align: left;
    }

    div.footer p {
        margin-left: 8px;
    }

    a.emojiLink {
        /* Make the top-page arrow more touchable on mobile */
        font-size: 20pt;
        float: left;
        padding-right: 8px;
    }

    div.pandaAbout p, div.pandaLinks p {
        margin-left: 14px;
        margin-right: 8px;
    }

    ul.linkList.multiColumn {
        column-count: 1;
    }

    div.photoSample {
        display: inline-block;
        width: 140px;
        margin-bottom: 10px;
        padding: 5px;
    }    
}
