<div id="contentFrame" class="about">
<div class="shrinker">

<div id="aboutPageMenu" class="sectionMenu">
  <button id="usageGuide_button" class="sectionButton three"><div class="sectionMenuItem">
    Guia de uso
  </div></button><button id="aboutRedPandas_button" class="sectionButton three"><div class="sectionMenuItem">
    Pandas-vermelhos
  </div></button><button id="aboutThisSite_button" class="sectionButton three"><div class="sectionMenuItem">
    Sobre o site
  </div></button>
</div>
  
<div class="hidden section" id="usageGuide">
<div class="pandaAbout onlyDesktop">
<h2>Como usar o site (PC)</h2>
<ul>
<li>Clique em 🇧🇷 para mudar o idioma. Seis idiomas estão disponíveis.</li>
<li>Para ver um novo panda-vermelho, basta clicar no ícone 🎲 <i>(Aleatório)</i>.</li>
<li>Quando souber o nome de um panda, use a barra branca <i>Pesquisar</i> para encontrá-lo novamente. Basta clicar na barra <i>Pesquisar</i>, digitar um nome e pressionar <i>Enter</i>.</li>
<li>Quando tiver encontrado um panda, você pode saber mais sobre sua família clicando na barra verde com o nome dele ou nos nomes da família do panda.</li>
<li>Clique no canto superior esquerdo da foto de um panda para ver mais fotos.</li>
</ul>
</div><!-- pandaAbout -->
<div class="pandaAbout onlyMobile">
<h2>Como usar o site (Móvel)</h2>
<ul>
<li>Toque em 🇧🇷 para mudar o idioma. Seis idiomas estão disponíveis.</li>
<li>Para ver um novo panda-vermelho, basta tocar  no ícone 🎲 <i>(Aleatório)</i>.</li>
<li>Quando souber o nome de um panda, use a barra branca <i>Pesquisar</i> para encontrá-lo novamente. Basta tocar na barra <i>Pesquisar</i>, inserir um nome e tocar o botão <i>Pesquisar</i> do seu teclado.</li>
<li>Quando tiver encontrado um panda, você pode saber mais sobre sua família clicando na barra verde com o nome dele ou nos nomes da família do panda.</li>
<li>Deslize para a esquerda ou a direita sobre a foto de um panda para ver mais fotos.</li>
</ul>
</div><!-- pandaAbout -->
<div class="pandaAbout">
<h2>Dicas de pesquisa</h2>
<ul>
<li>Você pode procurar zoológicos pelo nome ou localização! Pesquisas por zoológicos mostrarão todos os pandas-vermelhos vivendo atualmente num zoológico.</li>
<li>Você pode procurar fotos por etiqueta descritiva! Experimente uma destas:</li>
</ul>
</div><!-- pandaAbout -->
<div class="pandaAbout aboutTags"></div><!-- pandaAbout, with tags filled in -->
</div><!-- usageGuide -->

<div class="hidden section" id="aboutRedPandas">
<div class="pandaAbout">
<h2>Sobre os pandas-vermelhos</h2>
<h4><a href="https://www.instagram.com/a_ka_pan/">✍️ a_ka_pan</a></h4>
<p>"Carisma de um cãozinho e beleza de um gatinho": essa foi a impressão que eu tive quando comecei a me apaixonar pelos pandas-vermelhos. Um olhar mais profundo, porém, revela que eles são peculiares e especiais. Seus parentes mais próximos, os guaxinins, furões e cangambás, não são tão próximos assim, muito menos são próximos os cães, gatos, raposas ou mesmo pandas-gigantes. Pandas-vermelhos são pandas-vermelhos, com sua própria fofura e encanto.</p>
<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/bn9PVbfRK0g" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div> 
<p>Após quase um ano aprendendo por conta própria sobre pandas-vermelhos, realizei o sonho de ver um com os próprios olhos, quando viajei do Brasil para Portugal. Meu país não tem pandas-vermelhos e, por ser de clima tropical, talvez nunca tenha. Cheguei ao Jardim Zoológico de Lisboa no meio da tarde, por isso, só pude ver um panda dormindo numa árvore. Eu já sabia que eram animais crepusculares, mais ativos ao nascer e ao pôr do sol, por isso, dei uma volta pelo zoo para revê-los no entardecer. Deu certo! Lá estava o panda maior comendo uma banana, descendo em seguida até o laguinho para beber água e, por fim, subindo na árvore para descansar de novo. "Zerei a vida", pensei.</p>
<p>Dica linguística: em português, a espécie se chama <i>panda-vermelho</i>, com hífen. <i>Panda vermelho</i>, sem hífen, seria um panda-gigante pintado de vermelho. Num contexto em que se trata apenas de pandas-vermelhos, tudo bem chamá-los só de pandas: no Ocidente, eles foram os primeiros a serem chamados assim, ou seja, o panda-gigante é chamado de panda por causa do panda-vermelho. Os primeiros a estudarem a espécie a chamaram de <i>wah</i>, nome na língua limbu, derivado de um dos sons que o panda-vermelho faz: wah! 

<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/1hlM3IYMs1o" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>
<h2>Dicas para sua visita ao zoológico</h2>
<h4><a href="https://www.instagram.com/wumpwoast/">✍️ wumpwoast</a></h4>
<p>Ao visitar um panda-vermelho no zoológico, recomendo descobrir quais são os horários de alimentação do animal. Muitos pandas parecem um pouco preguiçosos fora de seu horário de alimentação, para dizer o mínimo! A verdade é que seu metabolismo é muito baixo e, combinado com o bambu ser um alimento básico de poucos nutrientes, eles são muito econômicos ao gastar sua reserva de energia. Por outro lado, pandas em cativeiro adoram maçãs e uvas, e quando um panda-vermelho ganha um lanche gostoso, qualquer palpite sobre seu comportamento é incerto!</p>
<p>Outro bom momento para visitar pandas-vermelhos em zoológicos é durante o início do inverno, quando filhotes começam a explorar fora da toca mais regularmente, e durante a temporada de acasalamento em fevereiro, quando eles chiam, brigam e gastam energia em busca do caos conjugal.</p>
<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/ASP_YmgIvnc" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>
<p>Fora desses períodos muito específicos e atípicos, pandas-vermelhos continuam a ser muito fascinantes e maravilhosos de se visitar. São o tipo de animal que olham de volta, especialmente quando você estiver distraído ou se você não o tiver visto primeiro. Movem-se com a mais silenciosa e delicada graça pelas árvores, preferindo estar em segurança acima de nós quase todo o tempo. Você pode seguir com foco infalível os movimentos de um panda-vermelho, e ele ainda escapará da sua vista, às vezes se escondendo silenciosamente à vista de todos. E quando não estiverem ocupados comendo um terço de seu peso corporal todo dia ou dormindo mais de doze horas por dia, pandas-vermelhos podem se limpar por horas a cada vez.</p>
<p>Então, talvez o mais importante, quando visitar um panda-vermelho e tiver a atenção dele, não a tome como garantida. Eles não a oferecem fácil ou rapidamente, sendo muito tímidos e envolvidos em seus próprios assuntos de panda fazendo o que parece não ser grande coisa para nós. Eles só precisam de espaço, bambu fresco e amor &mdash; não o amor direto que humanos precisam uns dos outros, mas o amor que vem de entregar um pedaço do seu coração sem nem sequer considerar se o verá de novo.</p>
<div class="youtube"><iframe width="658" height="370" src="https://www.youtube.com/embed/eBXvRaP_ODo" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>

<h2>Fatos supreeendentes sobre os pandas-vermelhos</h2>
<ul>
<li>Pandas-vermelhos são felpudinhos, mas sua pelagem é grosseira e áspera ao tato.</li>
<li>A maioria dos pandas pode se erguer sobre duas pernas, e alguns são conhecidos por andar assim por curtas distâncias.</li>
</ul>
<img class="aboutFocus replace" src="https://www.instagram.com/p/BjN6DqcH2OH/media/?size=l" loading="lazy" alt="Eita, filho de Futa" />
<h5 class="caption"Erga-se com orgulho, Eita-kun. <a href="https://www.instagram.com/cattail.sapporo/">(📷&nbsp;cattail.sapporo)</a></h5>
<ul>
<li>Além de marcarem seus territórios usando glândulas odoríferas em seus bumbuns, mãos e pés, pandas-vermelhos são conhecidos por sentirem o gosto do ar, tipicamente por colocarem suas línguas surpreendentemente longas para fora de suas bocas como um gancho levemente rígido, ou eventualmente por abrirem bem largo suas bocas.</li>
<li>Apesar de serem conhecidos por comerem folhas e brotos novos de bambu, eles são vistos em cativeiro escavando e comendo raízes e caules macios de bambu.</li>
</ul>
<img class="twinFocus replace" src="https://www.instagram.com/p/BhxLb_dFYux/media/?size=m" loading="lazy" alt="Marimo e uma raiz de bambu" />
<img class="twinFocus replace" src="https://www.instagram.com/p/Bm5w2mylDpI/media/?size=m" loading="lazy" alt="Jazz e Melody, Gêmeos da Maçã" />
<h5 class="caption">Marimo e uma raiz de bambu (à esquerda,&nbsp;<a href="https://www.instagram.com/yossi929">📷&nbsp;yossi929</a>), e os Gêmeos da Maçã Melody e Jazz (à direita,&nbsp;<a href="https://www.instagram.com/nakacchi_desu">📷&nbsp;nakacchi_desu</a>)</h5>
<ul>
<li>Usando suas garras semirretráteis e um falso polegar que atua como um sexto dedo fixo, pandas-vermelhos costumam segurar e comer comida com as mãos, mesmo enquanto estão de pé. Além de sua entusiasmada velocidade de mastigação, pandas-vermelhos comem fatias de maçã que nem gente!</li>
<li>Pandas-vermelhos têm um sorriso característico, com sua boca aberta e a língua no lugar, e aparentemente fazem isso quando seus corpos estão quentes demais.</li>
<li>Quase todos os pandas-vermelhos nascem entre o fim de junho e o fim de julho, embora no hemisfério Sul seu período de acasalamento e reprodução se alterem em seis meses para se adequarem às estações do ano.</li>
</ul>
<img class="aboutFocus replace" src="https://www.instagram.com/p/B1LrNuDBTJP/media/?size=l" loading="lazy" alt="Gin salta sobre Marumi" />
<h5 class="caption">Gin saltando sobre sua filha Marumi! <a href="https://www.instagram.com/komabazoophoto/">(📷&nbsp;komabazoophoto)</a></h5>
<ul>
<li>Mamães pandas-vermelhas podem escolher entre criar gêmeos ou trigêmeos extremamente bricalhões ou terem um único bebê que, invariavelmente, descobrirá que a cauda da mamãe é a coisa mais legal do mundo de se perseguir!</li>
<li>A menos que tenham crescido com um irmão, pandas-vermelhos tendem a ser muito solitários e territorialistas, precisando de muito espaço próprio para se sentirem confortáveis.</li>
<li>Cada panda-vermelho tem coloração de pelagem, máscara facial, padrão de cauda e formato de orelha reconhecíveis, mas tais facetas (em particular a máscara e a cauda) tendem a evoluir à medida que envelhecem. A mudança mais óbvia é progredir para a idade adulta, quando as faces incialmente achatadas tendem a se alargar conforme o panda perde sua felpuda "pelagem de bebê".</li>
</ul>
<img class="twinFocus replace" src="https://www.instagram.com/p/Bl1XeV_loeD/media/?size=m" loading="lazy" alt="Ailurus fulgens fulgens" />
<img class="twinFocus replace" src="https://www.instagram.com/p/Bjb9yntlwMv/media/?size=m" loading="lazy" alt="Ailurus fulgens styani" />
<h5 class="caption"><i>Ailurus fulgens fulgens</i> (à esquerda,&nbsp;<a href="https://www.instagram.com/miis_98">📷&nbsp;miis_98</a>) e <i>Ailurus fulgens styani</i> (à direita,&nbsp;<a href="https://www.instagram.com/yossi929/">📷&nbsp;yossi929</a>).</h5>
<ul>
<li>Há duas subespécies de panda-vermelho, uma da província de Sichuan na China, a leste do Himalaia (<i>Ailurus fulgens styani</i>), e uma no Nepal, Butão e Darjeeling (Índia), ao sul do Himalaia (<i>Ailurus fulgens fulgens</i>). Esta última é menor, com faces esbranquiçadas e tendem a ter olhos com uma particular forma de amêndoa inclinada. A população em cativeiro do Japão é quase inteira de <i>A. f. styani</i> enquanto os Estados Unidos e na Europa tendem a ter <i>A. f. fulgens</i>.</li>
</ul>
</div><!-- pandaAbout -->
</div><!-- aboutRedPandas -->

<div class="hidden section" id="aboutThisSite">
<div class="pandaAbout">
<h2>Sobre este site</h2>
<p>Na superfície, o redpandafinder.com é para pessoas que amam pandas-vermelhos e gostam de visitá-los em zoológicos. É projetado para ser uma referência rápida, uma árvore genealógica com fotos e um jeito de compartilhar os pandas que você ama com seus amigos.</p>
<p>Como um zoológico em si, este site espera que estar mais perto dos animais mude os corações das pessoas. Incentivamos todos que visitem este site a fazerem doações para a <a href="https://redpandanetwork.org">Red Panda Network</a>, que faz esforços de conservação cruciais para pandas-vermelhos selvagens no Nepal e no Butão.</p>
<p>Por fim, este site também quer dar suporte a pandas-vermelhos em cooperação com zoológicos específicos. Quando você vir seus pandas-vermelhos favoritos no Instagram todo dia, você quer lhes dar a melhor vida que puderem ter.</p>
<img class="aboutFocus replace" src="https://www.instagram.com/p/BojHOlxAKjh/media/?size=l" loading="lazy" alt="Jazz e Melody, o Dueto da Maçã" />
<h5 class="caption">Jazz e Melody, o Dueto da Maçã! <a href="https://www.instagram.com/falcon_tenor">(📷&nbsp;falcon_tenor)</a></h5>
<h2>Dados da Red Panda Lineage</h2>
<p>O conjunto de dados pesquisável da Red Panda Lineage (Linhagem de Pandas-Vermelhos) neste site é obtido por fãs de pandas-vermelhos pelo mundo, e é suplementado e verificado com informações do livro genealógico compiladas por Angela Glatston do Rotterdam Zoo nos Países Baixos. O conjunto de dados está armazenado no <a href="https://github.com/wwoast/redpanda-lineage">GitHub</a> e é atualizado várias vezes por semana.</p>
<h2>Contribuições</h2>
<p>Se quiser submeter novos dados ou correções a dados existentes na LRed Panda Lineage, agradecemos muito a ajuda! Basta preencher o formulário abaixo:</p>
<ul>
<li><a href="https://docs.google.com/forms/d/1kKBv92o09wFIBFcvooYLm2cG8XksGcVQQSiu9SpHGf0">Solicitação de linhagem</a></li>
</ul>
<p>Se tiver experiência técnica em desenvolvimento de software, você também é mais que bem-vindo a contribuir diretamente para o conjunto de dados! Revisaremos quaisquer PRs ou questões submetidas através do <a href="https://github.com/wwoast/redpanda-lineage">GitHub</a>.</p>
<h4 class="privacy"><a href="/privacy.html">Política de Privacidade</a></h4>
</div><!-- pandaAbout -->
</div><!-- aboutThisSite -->

</div><!-- shrinker -->
</div><!-- contentFrame -->
